.book {
    position:relative;
    width: 237px;
    height: 408px;
    display: inline-block;
    margin-right: 135px;
    border: 4px solid black;
    overflow: hidden;
}

.book:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.8);
    opacity:0;
}

.book:hover:after, .book:hover:before {
    opacity:1;
}


.book .front{
    width: 100%;
    height: 100%;
}

.book .back {
   padding: 10px;
   word-wrap:break-word;
   z-index:1;
   position: absolute;
   color: white;
   width:100%;
   height:100%;
   top: 0;
   left: 0;
   display: none;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.fa-1-5x{
   font-size: 1.5em !important
}

.fa-1-6x{
   font-size: 1.6em !important
}

.vertical-buffer {
  padding-top: 60px;
  padding-bottom: 60px
}

.buy-button {
    left: 0;
    position: absolute;
    bottom: 0px
}

.book-title {
    font-size: 1em;
}

.book-author {
    font-size: 0.8em;
}

.book-description {
    font-size: 0.8em;
}

.book-price {
    font-size: 3em;
}
