@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url('https://fonts.googleapis.com/css?family=Hind:500,700|Leckerli+One|Patua+One');

.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  font-family: roboto;
}

.loginmodal-container h3 {
  padding: 0px 0px 20px 0px;
  font-weight: bold;
  text-align: center;
}
.panel-body >h4{
    margin-top: 0;
}
h3, h4{
    font-family: 'Hind', sans-serif;
    font-weight: 700;
}
.panel-title > p{
    font-size: 15px;
}
.panel-title > p, .card > h4{
    margin: 0;
}
.block-right{
    margin-right: 10px;
}
.panel-group .panel + .panel{
    margin: 0;
}
.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
}

.loginmodal-submit {
  border: 0px;
  color: #fff;
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
}

.loginmodal-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
}

.loginmodal-container a {
  color: #666;
  display: inline-block;
  opacity: 0.6;
} 

.login-footer{
  text-align: left;
  font-size: 12px;
}

.jumbotron {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background: url("../img/tmb.png") no-repeat center center fixed;
	background-size: cover;
	color: white;
	margin-bottom: 0;
	height: 294px;
	text-align: center;
    font-family: 'Leckerli One', bold;
}
.container > .row h1{
    font-family: 'Leckerli One', bold;
    font-weight: bold;
}
.title-text{
    font-size: 1.1em;
}
.pricing-block sup{
     top: -1.8em;
}
.pricing-block sub, sup {
  font-size: 25%;
}
.price{
  font-weight: bold;
  font-size: 56px;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.card{
    overflow: hidden;
    padding: 1em;
    color: black;
    background-color: white;
}
.card-title{
    font-family: 'Hind',sans-serif;
    font-weight: 500;
}
.no-margin{
  margin: 0;
}
.pricing-table-title{
  font-weight: bold;
}
#services{
  color: white;
  background: url("../img/tmb.png") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
body {
  position: relative; 
}
.affix {
  top: 0;
  width: 100%;
}
.affix + .container-fluid {
  padding-top: 75px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: #222;
}
.container > .text-muted {
  margin: 20px 0;
}
.container .list-inline > li > a{
	color: #777
}
.navbar-inverse .navbar-nav > .active{
    background: #cc0000;
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #cc0000;
}

.vertical-center {
  display: flex;
  align-items: center;
}
.navbar{
  z-index: 1;
  margin-bottom: 0;
}
.pricing-block{
  border-top: 6px solid black;
  background-color: #eee;
}
.top-buffer {
  margin-top:60px; 
}
.vertical-buffer {
  padding-top: 60px;
  padding-bottom: 60px
}
.right-buffer {
  padding-right: 10px
}
.btn-black{
  color: white;
  background-color: black;
}
.btn-black:hover, .btn-black:focus, .btn-black.focus {
     color: white
}
.pricing-block div > p:last-child{
  margin: 0;
}
.row-margin{
  margin-top: 15px;
  margin-bottom: 15px
}
.bottom-buffer {
  margin-bottom:30px; 
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}
.carousel-caption{
  bottom: 0;
  top: 20%;
}
#slider .carousel-indicators .active{
  background-color: red;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
  background-color: #cc0000;
}
#information a{
  color: #666;
  display: inline-block;
  opacity: 0.6;
}
#information{
  background-color: #eee;
}
@media (max-width: 767px) {
    .jumbotron > .container-fluid > div {
        font-size: 2.6em;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .jumbotron > .container-fluid > div {
        font-size: 2.8em;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .jumbotron > .container-fluid > div {
        font-size: 3em;
    }
}
@media (min-width: 1200px) {
    .jumbotron > .container-fluid > div {
        font-size: 3.2em;
    }
}
