.vcenter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}
.vertical-buffer {
  padding-top: 20px;
  padding-bottom: 20px
}
.page-header {
    margin-bottom: 0;
}
.flex {
    display: flex;
}
.card{
    overflow: hidden;
    padding: 1em;
    color: black;
    background-color: white;
}
.btn-round {
	border-radius: 30px;
}
.block-right {
    margin-right: 10px;
}

.display-table{
    display: table;
    table-layout: fixed;
}

.display-cell{
    display: table-cell;
    vertical-align: middle;
    float: none;
}

html,body { height: 100%; margin: 0px; padding: 0px; }
