#img-gallery {
    position: relative;
	width:1000px;
	height:600px;
	margin:0 auto;
}

#img-gallery1 {
    position: relative;
	width:1000px;
	height:600px;
	margin:0 auto;
}

.slides {
	overflow:hidden;
	position:relative;
	width:1000px;
	height:600px;
	border:1px solid #ccc;
}

.slides ul {
	position:relative;
	left:0;
	top:0;
	list-style:none;
	margin:0;
	padding:0;
	width: 3000px;
}

.slides li {
	width:1000px;
	height:600px;
	float:left;
}

.prev {
    z-index: 1;
    position: absolute;
    top: 300px;
    left: 50px;
}

.next {
    z-index: 1;
    position: absolute;
    top: 300px;
    right: 50px;
}

a.prev, a.next {
    text-decoration: none;
    color: gray;
}

.clear {clear:both}

.indicators{
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}
.indicators .indicator {
    border: 2px solid;
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.indicators .indicator:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}
